.firstPage {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    z-index: 10;
}

.title{
    font-family: bubble;
    font-size: 150px;
    z-index: 10;
    text-align: center;
    color: azure;
    text-shadow: 0px 10px 10px #000000;
    margin-bottom: 100px;
}
.btnContMain{
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease;
    transform: scale(1);
}

@keyframes squishPop {
    0%   { transform: scale(1); }
    30%  { transform: scale(1.15, 0.9); }
    60%  { transform: scale(0.95, 1.1); }
    100% { transform: scale(1.1); }
  }
  
.btnContMain.activeBtn {
    animation: squishPop 0.4s ease;
    transform: scale(1.1);
}

.mainMenu{
    font-family: font2;
    font-size: 35px;
    z-index: 10;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.mainMenu button{
    width: 380px;
    height: 68px;
    border-radius: 100px;
    border: none;
    font-family: font2;
    font-size: 30px;
    color: white;
    transition: all 0.3s ease;
}
.mainMenu img{
    height: 85px;
}

.newGame {
    background: linear-gradient(135deg, #7a1d1d, #a83232);
    box-shadow: 0 4px 8px rgba(122, 29, 29, 0.5);
}

.resumeGame {
    background: linear-gradient(135deg, #264f85, #4f79bd);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(38, 79, 133, 0.4);
}

.infoMain {
    background: linear-gradient(135deg, #006400, #32cd32);
    box-shadow: 0 4px 8px rgba(0, 100, 0, 0.4);
}

.settingsMain {
    background: linear-gradient(135deg, #b1b117, #e2e24c);
    box-shadow: 0 4px 8px rgba(177, 177, 23, 0.4);
}

/* Leaderboard */
#leaderboardContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto; /* ID | Name | Score | Time | Game Mode */
    gap: 10px;
    margin-top: 20px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 75%;
    align-content: start;
}
.leaderboard-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
.leaderboard-modal {
    background-color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 12px;
    height: 600px;
    min-width: 500px;
    position: relative;
    box-shadow: 0 8px 24px rgba(0,0,0,0.2);
    animation: popupShow 0.3s ease forwards; 
    transform-origin: center center;
}
@keyframes popupShow { /* Sweet alert - replica animation */
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    45% {
        opacity: 1;
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
.headerModal{
    height: 15%;
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
.hideModal {
    display: none;
}
.leaderboard-header{
    font-weight: 600;
    color: rgb(84, 84, 84);
}
.leaderboard-cell{
    padding-left: 20px;
    padding-right: 20px;
}
.lineSeperate{
    height: 2px;
    width: 100%;
    background-color: rgb(84, 84, 84);
}
.leaderboard-modal h2{
    font-size: 40px;
    font-family: font2;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(84, 84, 84);
}
.leaderboard-modal p{
    font-size: 16px;
    font-family: font2;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(84, 84, 84);
}
.footerModal{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close-btn2{
    height: 80%;
    width: 250px;
    border: none;
    background-color: rgb(0, 149, 221);
    border-radius: 100px;
    font-size: 25px;
    color: white;
    transition-duration: 0.2s;
}
.close-btn2:hover{
    background-color: #264f85;
    transition-duration: 0.2s;
}