*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100vh;
    width: 100vw;
}

.glavni{
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #6fb9dd, #0095DD);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gamePanel{
    position: relative;
    border-radius: 10px;
    background-color: rgba(222, 217, 207, 0.85);
}
.pauseMsg{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: inherit;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: white;
    user-select: none;
}
.active{
    display: flex !important;
    animation: fadeIn 0.5s forwards
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.pauseMsg h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 700;
}
.pauseMsg span{
    font-family: sans-serif;
    font-size: 20px;
}
#myCanvas{
    padding: 10px;
    border-radius: inherit;
}
.btnCont{
    display: flex;
    flex-direction: row;
    justify-content:  center;
    gap: 20px;
}
.btnCont button{
    height: 50px;
    width: 180px;
    font-size: 22px;
    font-family: sans-serif;
    background-color: rgba(222, 217, 207, 0.672);
    border-radius: 100px;
    color: #0095DD;
    cursor: pointer;
    user-select: none;
    transition-duration: 0.2s;
    border: none;
}
.btnCont button:hover{
    background-color: rgb(255, 255, 255);
    transition-duration: 0.2s;
}
.btnCont button:disabled{
    opacity: 0.5;
    cursor: default;
    background-color: rgba(222, 217, 207, 0.672) !important;
}

/* Sweet alert */
.swal2-title{
    font-family: sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}
.swal2-html-container{
    font-family: sans-serif;
    font-weight: 400;
}
.swal2-confirm{
    background-color: #0095DD;
}
/* Game info - Custom css */
.info-title { 
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.info-underline {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 10px 0;
}
.info-list {
    text-align: left;
    font-size: 16px;
    padding-left: 20px;
    line-height: 1.6;
}
.credit-list{
    list-style-type: none;
    line-height: 30px;
    font-size: 20px;
}
.credit-list a{
    color: #0095DD;
    text-decoration: none;
    transition-duration: 0.2s;
}
.credit-list a:hover{
    text-decoration: underline;
    transition-duration: 0.2s;
}